/*i also copied this media query from stackoverflow but dont know who the original author is */
@media (max-height: 999px){ 
    p {
    font-size: 20px;
      }
  }
#welcome-section {
position: relative; left: 250px;
/* got this snippet from https://forum.freecodecamp.org/t/height-of-the-welcome-section-should-be-equal-to-the-height-of-the-viewport/214083/4 at 22/08/2021 */
 padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
font-size: 50px;
}

#navbar {
position: fixed; bottom: 350px; left: 100px;
font-size: 20px;
}

#projects {
font-size: 30px;
}


#survey {
position: relative; bottom: 613px; left: 400px
}

#p2 {
position: relative; left: 650px;
}

#contacts {
position: relative; bottom: 300px; left: 680px;
font-size: 40px;
}

#img {
position: relative; bottom: 320px; left: 625px; 
}

#profile-link {
position: relative; right: 75px;
font-size: 40px;
}
